# Sub-repositories
**/.git/

# Large files that I am unsure about ...
*.zip
*.examples
*.pdf
*.zip
*.tgz
*.ogv
*.eps

# Books
computers-and-thought/
history/
popbook/
teachpop/
papers/
# Maybe also ...
popplestone/
umass-files/


# Projects
neural/
newkit*/
nonlin/
examples/
paradigms_lectures/
popracer/
Scheme/
gospl/
popvision*/
prb/
objectclass*/
hebisch/
sim/
haiku/
rcmenus/
figs/
rclib/
rcmenu/
emacs/
lisp-mods/
poponline/
logicdemo/
PlayMateGram/
xml-dist/
dirutils/
isard-chartparser/
eliza/
brait/
simworld/
screamer.tar.gz
popsh/

# Packages
packages/
poplog-packages/
newpackages/
contrib/
packages-*

# Major sections
cogaff/
usenet/
cas-ai/

# Poplog versions
osx-poplog/
hp-poplog/
winpop/
osx/
v15*/
V16/
v16-*/
fixed/
darwin+pc/
new/
prelinked*
bham-linux*.gz*
amd64*/
CD/
poplog*.deb
debian/
latest-poplog/
mini-linux-pop/
livecd/
src-iris-*/
ubuntu/
vaxvms/
corepop-only/
nico*
v16*.*
src.systems/

# Random unpacked poplog version
auto/
bin/
com/
c_core/
src/
doc/
man/
teach/
ref/
help/
prolog/
lib/
pop/
sysdoc/
setup/
docs/
sysinit/


# "Old" stuff
old/
oldcontents.html
oldcorepop-32bit/
oldcorepop-amd64/
oldgz/
oldprb/
oldsim/
oldsrc/
primer.old/
packages/OLD/
previous-poplog/
discarded/
sysdoc-old/

# Unclassified
retrieved/
github/
robot-club/
gz/
docs.*
abbott/
isl-docs/
leach-utils/
linuxterm/
newc_dec/
ova/
bugfixes/
primer/
scheutz*/
slax.d/
tools/
attach/
unstripped-docs/
sussex/
freebsd/
poplog16/